h4 {
    display: inline-block;
    padding: 0%;
    margin: 10px;
}

hr {
    width: 50%;
    border-top: 8px solid rgba(156, 148, 200, 0.614);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

br {
    padding: 0%;
    margin: 0%;
}

body {
    color: white;
    background-color: rgb(14, 13, 13);
    padding: 0%;
}

#form {
    margin: 35vh 25vw;
    max-width: fit-content;
    background: transparent;
    opacity: 0.5;
}

#name {
    box-shadow: none;
    width: 50vw;
    height: 4vh;
}

#write {
    text-align: center;

}

.fa-instagram {
    background: #a31d59;
    color: white;
}

.fa-whatsapp {

    background: rgb(12, 61, 3);
    color: white;
}

.boto {
    margin: -199px 0px 0px 400px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25px;
}

.fa:hover {
    opacity: 0.7;
}

#button {
    text-align: center;
}

.butt {
    text-align: center;
    background-color: green;
    border-radius: 50%;
    height: 50px;
    width: 150px;

}

.butt:hover,
.butt:visited {
    background-color: brown;
    cursor: pointer;

}

.butt:visited {
    color: white;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#divv{
    margin-top: 10vh;
}